<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Search.Keywords" value="Polly, polly,ll,Ll,X,Polx"/>
    <add key="Search.String" value=" Polly put the kettle on, polly put the kettle on, polly put the kettle on we'll all have tea"/>
  </appSettings>
</configuration>